<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="quizdroid.kylep9.washington.edu.quizdroid" >
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="quizdroid.kylep9.washington.edu.quizdroid.QuizApp">
        <receiver android:name=".RepeatingAlarm" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quizdroid.kylep9.washington.edu.quizdroid.MainActivity" />
        </activity>
        <activity
            android:name=".QuestionActivity"
            android:label="@string/title_activity_question" >
        </activity>
        <activity
            android:name=".UserSettingActivity"
            android:label="UserSettingActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quizdroid.kylep9.washington.edu.quizdroid.MainActivity" />
        </activity>
    </application>

</manifest>
